
- form_for @user, :url => password_reset_path, :method => :put do |f|
  %h2 Change My Password
  %br
  = f.error_messages
  
  = f.label :password
  = f.password_field :password
  %br
  = f.label :password_confirmation
  = f.password_field :password_confirmation
  %br
  = f.submit "Update Password"