.code_input
  .gist_block
    %h5 
      Post your code from a gist
      %span
        %a{ :href => 'http://gist.github.com' } (gist link)
    .code_box
      = form.label :gist_url, "Gist URL"
      = form.text_field :gist_url

  .or_block
    %h1 OR
    
  .code_block
    %h5 
      Paste your code below, we create the gist
      %a{ :href => '' } (show)
    .code_box.hidden
      = form.label :code
      = form.text_area :code

%br
%h5 Give a title for this submission
= form.label :title
= form.text_field :title
%br
%h5 Provide a description for this submission
= form.label :context, "Description"
= form.text_area :context
%br



