= form.label :title
= form.text_field :title
%br
%br
%h3 Provide some context for this submission
= form.label :context
%br
= form.text_area :context
%br
%br

%h2 Post via Gist
%a{ :href => 'http://gist.github.com' } 
  Github
%br
%br
= form.label :gist_url
%br
= form.text_field :gist_url
%br
%br

%b OR 

%h2 Paste Below
.description We create the gist for you
%br
%br
= form.label :code
%br
= form.text_area :code
%br
%br