.snippet_container
  #date
    .day= @snippet.displayed_on.strftime('%d')
    .month= @snippet.displayed_on.strftime('%b').upcase!
    .year
      .century 20
      = @snippet.displayed_on.strftime('%y')

  #snippet.code
    %script{ :type => "text/javascript" } 
      = "document.write('#{@snippet.display}');"
    .hidden=h @snippet.display

  - if @snippet.user
    .author
      = "submitted by #{@snippet.user.login}"
      .avatar
        = gravatar_for @snippet.user

= render :partial => 'refactors/refactor', :collection => @snippet.refactors