.simple_container
  %h2 Snippet Queue
  
  %p= "Total Snippets: #{@snippets.size}"

  %table
    %thead
      %th Title
      %th Submit Date
      %th Queue Position
    - @snippets.each do |snippet|
      %tr
        %td= link_to snippet.title, snippet
        %td= snippet.created_at.to_formatted_s(:date)
        %td
          - if snippet.position
            = (Date.today + snippet.position).strftime('%a, %m.%d')
          - else
            %a{ :href => approve_snippet_path(snippet), :class => 'approve' }
              approve
        %td
          %a{ :href => snippet_path(snippet), :class => 'delete' }
            delete
  
  = will_paginate @snippets