- form_for @snippet.refactors.new, :url => snippet_refactors_path(@snippet) do |f|
  = f.label :gist_url
  %br
  = f.text_field :gist_url
  %br
  %br

  = f.label :code
  %br
  = f.text_area :code
  %br
  %br
  = f.submit 'Submit'