- form_for @snippet.refactors.new, :url => snippet_refactors_path(@snippet) do |f|
  = f.label :gist_url
  = f.text_field :gist_url
    
  %b OR
  
  = f.label :code
  = f.text_area :code
  
  %h3 Provide some context for this submission (optional)
  = f.label :context
  = f.text_area :context
  
  %button{ :type => 'submit' }
    Submit