.refactor_container
  .vote_label
    &nbsp;
  .votes
    = render :partial => 'votes/vote', :locals => { :refactor => refactor }
  
  .refactor
  
    .code
      %script{ :type => "text/javascript" } 
        = "document.write('#{refactor.display}');"
    .description
      =h refactor.context
    %a{:href => '', :class => 'fork' }
      .fork_button
        REFACTOR
    .details
      %ul
        %li
          %span.bold Submission by:
          = refactor.user.login
        %li
          %span.bold Member Since:
          = refactor.user.created_at.strftime("%b %Y")
        %li= link_to "Send to Gist", send_to_gist_snippet_refactor_path(@snippet, refactor), :class => 'send_to_gist'
    
    .hidden= render :partial => 'refactors/inline_form', :locals => {:code => refactor.code}