
- form_for @user, :url => users_path, :html => {:class => 'login'} do |f|
  %h1 Register
  %p{:style => 'color: #999;font-size: 14px;'} Two fields, click the button, and your done.
  = f.error_messages
  %br
  = f.label :login 
  = f.text_field :login 
  %br
  = f.label :email
  = f.text_field :email
  %br
  %button{:type => 'submit'}
    Register
  %ul.forgot_password
    %li 
      |
    %li
      Already Registered?
      = link_to "Login", login_path