.simple_container
  = gravatar_for @user

  %p
    %strong Login:
    =h @user.login

  %p
    %strong Email:
    =h @user.email

  %p
    %strong Last Active:
    =h @user.last_login_at

  %h4== Snippets by #{@user.login}
  %p= @user_snippets.length

  %h4== Refactors by #{@user.login}
  %p= @top_refactors.length
 
  = link_to 'Edit', edit_account_path if @user == @current_user