.profile
  .avatar_title
    = gravatar_for @user, :size => 80
  .page_title
    %h1= @user.login

.big
  %h1 
    REFACTORS:
    %span
      = @user.refactors.length
  
.big
  %h1 
    SNIPPETS:
    %span
      = @user.snippets.length

.additional
  %strong Last Active:
  =h @user.last_login_at.strftime('%m/%d/%y %T') if @user.last_login_at

= link_to 'Edit', edit_account_path if @user == @current_user