- form_for @user, :url => activate_path(@user), :html => { :method => :post , :class => 'login'} do |f|
  %h2 Activate your account
  %p Your email has been confirmed. Now just answer a last set of questions.
  %br
  = f.error_messages
  
  = f.label :password, "Password"
  = f.password_field :password
  %br
  = f.label :password_confirmation, "Confirm Password"
  = f.password_field :password_confirmation
  %br
  
  %button{:type => 'submit'}
    Activate