- form_for @user, :url => activate_path(@user), :html => { :method => :post , :class => 'login'} do |f|
  %h1 Activate your account
  %p{:style => 'color: #999;font-size: 14px;'} Your email has been confirmed. Now just set your password.
  %br
  = f.error_messages
  
  = f.label :password, "Password"
  = f.password_field :password
  %br
  = f.label :password_confirmation, "Confirm Password"
  = f.password_field :password_confirmation
  %br
  
  %button{:type => 'submit'}
    Activate