- form_for @user_session, :url => user_session_path, :html => {:class => 'login'} do |f|
  %h1 Login
  %p{:style => 'color: #999;font-size: 14px;'} 
    = "New User? #{link_to 'Go ahead and register.', signup_url}"
  
  = f.error_messages
  %br
  = f.label :login
  = f.text_field :login
  %br
  = f.label :password
  = f.password_field :password
  %br
  %button{:type => 'submit'}
    Login
  %ul.forgot_password
    %li 
      |
    %li
      = link_to "Forgot Password?", new_password_reset_path
  %br
  %p{:style => 'color: #999;'} 
    