!!!Strict
%html
  %head
    %title Refactor Me
    = javascript_include_tag 'jquery', 'application', :cache => true
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
    = stylesheet_link_tag 'screen.css', :media => 'screen'
  %body
    .wrapper
      .container
        .header
          %ul.navigation
            %li= link_to "LIST", root_url
            %li= link_to "SUBMIT", submit_snippet_url
            %li= link_to "USERS", users_url
            - if logged_in?
              %li= link_to "ACCNT", edit_account_url
              %li= link_to "LOGOUT", logout_url
            - else
              %li= link_to "LOGIN", login_url
              %li= link_to "SIGNUP", signup_url
            %li
              %a{:href => 'http://getsatisfaction.com/evalcode'} FEEDBACK
            %li
              %a{:href => '/about'} ABOUT
        
          %h1
            %a{ :href => root_url }
              RefactorMe

         
        .content
          - [ :error, :success, :notice ].each do |type|
            - if flash[type]
              %div{:class => type }= flash[type]

          = yield

        .footer
          &copy; 2009 No One.
          = render :partial => 'layouts/admin_panel' if current_user && current_user.is_admin?
  = render :partial => 'layouts/google_analytics' if RAILS_ENV == 'production'
      