!!!Strict
%html
  %head
    %title Refactor Me
    = javascript_include_tag 'jquery', 'application', :cache => true
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
    = stylesheet_link_tag 'screen.css', :media => 'screen'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'ie.css', :media => 'screen'
  %body
    .container
      #header
        %h1
          %a{ :href => root_url }
            RefactorMe
            
        %ul.navigation
          %li= link_to "main", root_url
          %li= link_to "submit", submit_snippet_url
          - if logged_in?
            %li= link_to "account", edit_account_url
            %li= link_to "logout", logout_url
          - else
            %li= link_to "login", login_url
          %li
            %a{:href => 'http://getsatisfaction.com/evalcode'} feedback
          %li
            %a{:href => '/about'} about
      
      %hr
         
      #content
        - [ :error, :success, :notice ].each do |type|
          - if flash[type]
            %div{:class => type }= flash[type]

        = yield
      
      %hr
      
      #footer
        .copyright RefactorMe is eval(code) &copy; 2009
        - if logged_in? && current_user.is_admin?
          %ul.admin-panel
            %li= link_to 'Snippet Queue', snippets_path
            %li= link_to 'User List', users_path