!!!Strict
%html
  %head
    %title Refactor Me
    = javascript_include_tag 'jquery', 'application', :cache => true
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
    = stylesheet_link_tag 'screen.css', :media => 'screen'
  %body
    .wrapper
      .container
        .header
          %ul.navigation
            %li= link_to "List", root_url
            %li
              __
            %li= link_to "Submit", submit_snippet_url
            %li
              __
            %li= link_to "Users", users_url
            %li
              __
            - if logged_in?
              %li= link_to "Account", edit_account_url
              %li
                __
              %li= link_to "Logout", logout_url
              %li
                __
            - else
              %li= link_to "Login", login_url
              %li
                __
              %li= link_to "Signup", signup_url
              %li
                __
            %li
              %a{:href => 'http://getsatisfaction.com/evalcode'} Feedback
            %li
              __
            %li
              %a{:href => '/about'} About
        
          %h1
            %a{ :href => root_url }
              %img{ :src => '/images/logo.png' }
          .description
            All Ruby developers speak the same language, but all have varying techniques.
            Rewrite the code snippet and provide the best solution. Everyday a new problem
            will be presented, and the best written refactor wins; you decide the winner,
            you provide the solution. Good Luck --
         
        .content
          - [ :error, :success, :notice ].each do |type|
            - if flash[type]
              %div{:class => type }= flash[type]

          = yield

        .footer
          &copy; 2009 No One.
          = render :partial => 'layouts/admin_panel' if current_user && current_user.is_admin?
          Designed by Hoshi Ludwig with conceptual work from Chris Nguyen
  = render :partial => 'layouts/google_analytics' if RAILS_ENV == 'production'
      