!!!Strict
%html
  %head
    %title Refactor Me
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
    = javascript_include_tag 'jquery', 'application', :cache => 'all'
    = stylesheet_link_tag :all, :cache => true
  %body
    .container
    
      .header
        %ul.navigation
          %li= link_to "Calendar", root_url
          %li
            __
          %li= link_to "Submit Snippet", submit_snippet_url
          %li
            __
          %li= link_to "Users List", users_url
          %li
            __
          %li= link_to "My Account", edit_account_url
          %li
            __
          %li
            %a{:href => '/about'} About
      
        %h1
          %a{ :href => root_url }
            %img{ :src => '/images/logo.png' }
        .description
          All Ruby developers speak the same language, but all have varying techniques.
          Rewrite the code snippet and provide the best solution. Everyday a new problem
          will be presented, and the best written refactor wins; you decide the winner,
          you provide the solution. Good Luck --
       
      .content.clearfix
        - [ :error, :success, :notice ].each do |type|
          - if flash[type]
            %div{:class => type }= flash[type]

        = yield

    .footer
      .rss
        %a{:href => 'rss.xml'}
          GET NOTIFIED. FOLLOW OUR RSS.
      %p.normal
        Designed by Hoshi Ludwig with conceptual work from Chris Nguyen.
        %br
        RefactorMe is an 
        %a{:href => 'http://www.evalcode.com'}
          eval(code)
        product.
        &copy; 2009 Justin Smestad. All posted code is shared under the MIT License.
  = render :partial => 'layouts/google_analytics' if RAILS_ENV == 'production'
      