.page_title
  %h1 Update Account

- form_for @user, :url => account_path do |f| 
  = f.error_messages
  %br
  
  %h5 Required Fields
  = f.label :login
  = f.text_field :login 
  %br
  = f.label :email
  = f.text_field :email
  %br
  
  %h5 Update Password
  = f.label :password, "New Password"
  = f.password_field :password 
  %br
  = f.label :password_confirmation, "Confirm Password"
  = f.password_field :password_confirmation
  
  / %h5 Optional Fields
  / = f.label :github_username, "GitHub Username"
  / = f.text_field :github_username
  / %br
  / = f.label :github_api_key, "GitHub API Key"
  / = f.text_field :github_api_key
  / %br
  
  %button{:type => 'submit'}
    Update Account
