
- form_for @user, :url => account_path, :html => {:class => 'login'} do |f|
  %h2 Register
  %p Enter two fields, hit register, and your on your way to rip it up.
  = f.error_messages
  %br
  = f.label :login 
  = f.text_field :login 
  %br
  = f.label :email
  = f.text_field :email
  %br
  %button{:type => 'submit'}
    Register
  %ul.forgot_password
    %li 
      |
    %li
      Already Registered?
      = link_to "Login", login_path